body {
  margin: 0 20px 0 20px;
  padding: 20px, 50px;
  font-family: 'Open Sans', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:  rgb(18, 243, 198);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
  color: black;
}

*{
  box-sizing: border-box;
}
